.public-notice-scroll {
  height: 55vh;
  max-height: 55vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

.public-notice-scroll::-webkit-scrollbar {
  width: 8px;
}

.public-notice-scroll::-webkit-scrollbar-thumb {
  background-color: #800000;
}

.public-notice-item {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding: 10px;
  margin-bottom: 10px;
}
.stay-connected {
  height: 60vh;
}
.single-feature {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.notice-content {
  flex: 1;
}

.notice-title {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}
.notice-title:hover {
  color: rgb(3, 97, 135);
}

.notice-date {
  text-align: center;
  border-radius: 10px;
  padding: 6px 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #ffffff;
}

.day {
  font-size: 20px;
  font-weight: bold;
}

.month {
  font-size: 16px;
}

.year {
  font-size: 16px;
}

/* Gallery */
.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.img-container {
  flex: 0 0 31%;
}

.img-container a {
  display: block;
  overflow: hidden;
  border-radius: 2px;
}

.img-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.img-container:hover img {
  transform: scale(1.5);
}
.btn-maroon {
  background-color: #800000;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 0;
  transition: background-color 0.3s ease;
}

.btn-maroon:hover {
  background-color: #ffffff;
  color: #800000;
  border: 1px solid #800000;
}
/* Notice Detail Table */
.table th,
.table td {
  text-align: center;
}

.table th {
  background-color: #e57373;
  color: #fff;
}

.table td {
  background-color: #ffcdd2;
  color: #000;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators 
{
    z-index: 99;
}

.bg-maroon
{
  background-image: -webkit-linear-gradient(90deg, #630606,#911F27) !important;
}


/* For latest Updates */
.img-container
{
  overflow: hidden;
}
.custom-card
{
  border: none;
}
.item {
  border: none;
  border-radius: 15px;
  margin: 10px 0;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;			
  transition: transform 0.3s, box-shadow 0.3s;
  min-height: 65vh;
  height: 100%;
}

.custom-card > .img-container:hover img {
  transform: scale(110%, 110%);
}

.custom-card>.img-container>img {
  min-height: 20vh;
  height: 40vh;
  object-fit: cover;
}

.custom-card .card-body {
  padding: 15px;
  text-align: center;
}

.custom-card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-card .card-text {
  font-size: 1rem;
  color: #777;
}

.latest-updates .card.custom-card .see-more {
  color: #007bff;
  cursor: pointer;
}
.latest-updates .card.custom-card .full-desc.d-none {
  display: none;
}

/* Owl Carousel Navigation */
.owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.owl-nav button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.owl-nav .owl-prev {
  position: absolute;
  left: 10px;
}

.owl-nav .owl-next {
  position: absolute;
  right: 10px;
}

