.card 
{
    page-break-after: always;
}
.signature-line
{
    padding: 0 100px;
}
table 
{ 
    table-layout:fixed;
    width: 100%;                
}
table,th, td, tr
{
    border: 1px solid #000 !important;
}
th, td
{
    padding: 1em !important;
}
.watermark
{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.04;
}